<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidudvikling.zeengoone.planpennyv04" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/penny_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Fragment_Controller"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopCreateProject"
            android:theme="@style/AppTheme.PopTheme" >
        </activity>
        <activity
            android:name=".PopCreateCategory"
            android:theme="@style/AppTheme.PopTheme" >
        </activity>
        <activity
            android:name=".PopCreatePlan"
            android:theme="@style/AppTheme.PopTheme" >
        </activity>
        <activity
            android:name=".ActivityHelp"
            android:theme="@style/AppTheme.PopTheme" >
        </activity>
        <activity
            android:name=".PopHomepage"
            android:theme="@style/AppTheme.PopTheme" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".PopCreateEvent" >
        </activity>
    </application>

</manifest>
